@using dashboard_elite.Helpers



@if (
PageType == PageHelper.Page.Galnet ||
PageType == PageHelper.Page.Poi ||
PageType == PageHelper.Page.Mining ||
PageType == PageHelper.Page.Powers ||
PageType == PageHelper.Page.CurrentShip ||
PageType == PageHelper.Page.StoredShips ||
PageType == PageHelper.Page.StoredModules ||
PageType == PageHelper.Page.ChatLog ||
PageType == PageHelper.Page.Materials ||
PageType == PageHelper.Page.EdEngineer ||
PageType == PageHelper.Page.ShipLocker ||
PageType == PageHelper.Page.Backpack ||
PageType == PageHelper.Page.Route ||
PageType == PageHelper.Page.SystemMap)
{
    <MudIconButton class="ma-1"
                   Size="Size.Large"
                   Variant="Variant.Filled"
                   DisableRipple="true"
                   Icon="@Icons.Material.Filled.VerticalAlignTop"
                   OnClick="ScrollTableToTop"
                   Color="@Color.Dark" />

    <MudIconButton class="ma-1"
                   Size="Size.Large"
                   Variant="Variant.Filled"
                   DisableRipple="true"
                   Icon="@Icons.Material.Filled.VerticalAlignBottom"
                   OnClick="ScrollTableToBottom"
                   Color="@Color.Dark" />

}

@if (PageType == PageHelper.Page.Engineers ||
     PageType == PageHelper.Page.Poi ||
     PageType == PageHelper.Page.Mining ||
     PageType == PageHelper.Page.Powers ||
     PageType == PageHelper.Page.StoredShips ||
     PageType == PageHelper.Page.StoredModules ||
     PageType == PageHelper.Page.ChatLog ||
     PageType == PageHelper.Page.Materials ||
     PageType == PageHelper.Page.EdEngineer ||
     PageType == PageHelper.Page.ShipLocker ||
     PageType == PageHelper.Page.Backpack)
{

    <MudIconButton class="ma-1"
                   Size="Size.Large"
                   Variant="Variant.Filled"
                   DisableRipple="true"
                   Icon="@Icons.Material.Filled.ArrowLeft"
                   OnClick="() => PreviousPage(CurrentPage)"
                   Color="@Color.Dark" />

    <div class="center flex-grow-1 pagebarcaption">
        @switch (PageType)
        {
            case PageHelper.Page.Poi:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Points of Interest</text>
                        break;
                    case 1:
                        <text>Compromised Nav. Beacons</text>
                        break;
                    case 2:
                        <text>Interstellar Factors</text>
                        break;
                    case 3:
                        <text>Raw Material Traders</text>
                        break;
                    case 4:
                        <text>Manufactured Material Traders</text>
                        break;
                    case 5:
                        <text>Encoded Data Traders</text>
                        break;
                    case 6:
                        <text>Human Technology Brokers</text>
                        break;
                    case 7:
                        <text>Guardian Technology Brokers</text>
                        break;
                }
                break;
            case PageHelper.Page.Mining:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Painite Hotspots</text>
                        break;
                    case 1:
                        <text>Painite Prices</text>
                        break;
                    case 2:
                        <text>LTD Hotspots</text>
                        break;
                }
                break;
            case PageHelper.Page.Powers:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Aisling Duval</text>
                        break;
                    case 1:
                        <text>Archon Delaine</text>
                        break;
                    case 2:
                        <text>Arissa Lavigny-Duval</text>
                        break;
                    case 3:
                        <text>Denton Patreus</text>
                        break;
                    case 4:
                        <text>Edmund Mahon</text>
                        break;
                    case 5:
                        <text>Felicia Winters</text>
                        break;
                    case 6:
                        <text>Li Yong-Rui</text>
                        break;
                    case 7:
                        <text>Pranav Antal</text>
                        break;
                    case 8:
                        <text>Yuri Grom</text>
                        break;
                    case 9:
                        <text>Zachary Hudson</text>
                        break;
                    case 10:
                        <text>Zemina Torval</text>
                        break;
                }
                break;
            case PageHelper.Page.Engineers:

                var engineersCount = Data.EngineersList?.Count ?? 0;

                if (CurrentPage < engineersCount)
                {
                    <text>@(Data.EngineersList[CurrentPage].Faction)</text>
                }
                break;
            case PageHelper.Page.StoredShips:

                var storedShips = Ships.ShipsList.Where(x => x.Stored)
                    .OrderBy(x => x.Distance).ThenBy(x => x.ShipType).ToList();

                var storedShipsCount = storedShips?.Count ?? 0;

                if (CurrentPage < storedShipsCount)
                {
                    <text>@(storedShips[(int)CurrentPage].ShipTypeFull)</text>
                }
                break;
            case PageHelper.Page.StoredModules:
                var storedModules = Module.StoredModulesList.Values
                    .OrderBy(x => x.Distance).ToList();

                var storedModulesCount = storedModules?.Count ?? 0;

                if (CurrentPage < storedModulesCount)
                {
                    <text>@(storedModules[(int)CurrentPage].StationName)</text>
                }
                break;
            case PageHelper.Page.ChatLog:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Star System</text>
                        break;
                    case 1:
                        <text>Local</text>
                        break;
                    case 2:
                        <text>Friend</text>
                        break;
                    case 3:
                        <text>Player</text>
                        break;
                    case 4:
                        <text>Wing</text>
                        break;
                    case 5:
                        <text>Squadron</text>
                        break;
                    case 6:
                        <text>Voice</text>
                        break;
                }
                break;
            case PageHelper.Page.Materials:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Raw Materials</text>
                        break;
                    case 1:
                        <text>Manufactured Materials</text>
                        break;
                    case 2:
                        <text>Encoded Materials</text>
                        break;
                }
                break;
            case PageHelper.Page.EdEngineer:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Blueprint Shopping List</text>
                        break;
                    case 1:
                        <text>Materials Shopping List</text>
                        break;
                    case 2:
                        <text>Missing Materials Information</text>
                        break;
                }
                break;
            case PageHelper.Page.ShipLocker:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Ship Locker Items</text>
                        break;
                    case 1:
                        <text>Ship Locker Components</text>
                        break;
                    case 2:
                        <text>Ship Locker Consumables</text>
                        break;
                    case 3:
                        <text>Ship Locker Data</text>
                        break;
                }
                break;
            case PageHelper.Page.Backpack:
                @switch (CurrentPage)
                {
                    case 0:
                        <text>Backpack Items</text>
                        break;
                    case 1:
                        <text>Backpack Components</text>
                        break;
                    case 2:
                        <text>Backpack Consumables</text>
                        break;
                    case 3:
                        <text>Backpack Data</text>
                        break;
                }
                break;
        }
    </div>

    <MudIconButton class="ma-1"
                   Size="Size.Large"
                   Variant="Variant.Filled"
                   DisableRipple="true"
                   Icon="@Icons.Material.Filled.ArrowRight"
                   OnClick="() => NextPage(CurrentPage)"
                   Color="@Color.Dark"/>



}
else
{

    <div class="center flex-grow-1 pagebarcaption">
        @switch (PageType)
        {
            case PageHelper.Page.Commander:
                <text>Commander</text>
                break;
            case PageHelper.Page.Galnet:
                <text>Galnet</text>
                break;
            case PageHelper.Page.HWInfo:
                <text>HWInfo</text>
                break;
            case PageHelper.Page.CurrentShip:
                <text>Current Ship</text>
                break;
            case PageHelper.Page.Target:
                <text>Target</text>
                break;
            case PageHelper.Page.Navigation:
                <text>Navigation</text>
                break;
            case PageHelper.Page.Route:
                <text>Route</text>
                break;
            case PageHelper.Page.SystemMap:
                <text>System Map</text>
                break;
            case PageHelper.Page.OdysseySettlements:
                <text>Odyssey Settlements</text>
                break;
            case PageHelper.Page.ColoniaBridge:
                <text>Colonia Bridge</text>
                break;
            case PageHelper.Page.Missions:
                <text>Missions</text>
                break;
            case PageHelper.Page.Cargo:
                <text>Cargo</text>
                break;
            case PageHelper.Page.GalaxyMap:
                <text>Galaxy Map</text>
                break;
        }
    </div>

}