@page "/locations/engineers/{CurrentPage:int?}"
@inherits PageBase
@layout PageLayout

@{
    var engineersCount = Data.EngineersList?.Count ?? 0;

    Data.EngineerData engineer = null;

    if (CurrentPage < engineersCount)
    {
        engineer = Data.EngineersList[(int)CurrentPage];
    }

}

<MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Class="PageTable flex-grow-1 flex-shrink-1" Style="min-height: 0;">
    <tbody>
    
    @if (engineer != null)
    {
        <tr>
            <td class="center" colspan="3"><img class="engineerimagetop" src="/img/engineers/@(engineer.Faction).jpg"/></td>
        </tr>

        <tr>
            <td class="engineerimage"><img class="engineerimage" src="/img/engineers/@(engineer.Faction).jpg"/></td>
            <td style="padding-left: 0; padding-right: 0; vertical-align: top;">

                <MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Elevation="0">
                    <tbody>
                    @if (!string.IsNullOrEmpty(engineer.Progress))
                    {
                        <tr>
                            <td class="nowrap">State</td>
                            <td class="data">
                                @engineer.Progress
                                @if (engineer.Rank != null)
                                {
                                    <text> (Grade</text>
                                    @engineer.Rank<text>)</text>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="nowrap">State</td>
                            <td class="alarm">Locked</td>
                        </tr>
                    }

                    @if (!string.IsNullOrEmpty(engineer.SystemName))
                    {
                        <tr>
                            <td class="nowrap">In System</td>
                            <td class="data"><NavLink class="system-link" @onclick="() => Clipboard(engineer.SystemName)" >@engineer.SystemName</NavLink></td>
                        </tr>
                    }
                    @if (engineer.Distance > 0)
                    {
                        <tr>
                            <td class="nowrap">Distance</td>
                            <td class="data">@engineer.Distance.ToString("N0") Ly</td>
                        </tr>
                    }

                    @if (engineer.Body != null && !string.IsNullOrEmpty(engineer.Body.name))
                    {
                        <tr>
                            <td class="nowrap">Body</td>
                            <td class="data">@engineer.Body.name</td>
                        </tr>
                    }

                    @if (!string.IsNullOrEmpty(engineer.Name))
                    {
                        <tr>
                            <td class="nowrap">Outpost</td>
                            <td class="data">@engineer.Name</td>
                        </tr>
                    }
                    @if (engineer.DistanceToArrival > 0)
                    {
                        <tr>
                            <td class="nowrap">Dist. from star</td>
                            <td class="data">@engineer.DistanceToArrival.ToString("N0") Ls</td>
                        </tr>
                    }

                    @if (!string.IsNullOrEmpty(engineer.SystemSecurity))
                    {
                        <tr>
                            <td class="nowrap">Security</td>
                            <td class="data">@engineer.SystemSecurity</td>
                        </tr>
                    }
                    @if (engineer.SystemPopulation > 0)
                    {
                        <tr>
                            <td class="nowrap">Population</td>
                            <td class="data">@engineer.SystemPopulation.ToString("N0")</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(engineer.Allegiance))
                    {
                        <tr>
                            <td class="nowrap">Allegiance</td>
                            <td class="data">@engineer.Allegiance</td>
                        </tr>
                    }

                    </tbody>
                </MudSimpleTable>
            </td>

            <td style="padding-left: 0; padding-right: 0; vertical-align: top;">

                <MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Elevation="0">
                    <tbody>
                    @{
                        Engineer.EngineerBlueprints.TryGetValue(
                            engineer.Faction,
                            out var blueprints);

                        var Blueprints = blueprints?.Where(x => x.Type != "Suit" && x.Type != "Weapon");

                        var SuitWeaponBlueprints = blueprints?.Where(x => x.Type is "Suit" or "Weapon");
                    }

                    @if (Blueprints != null)
                    {
                        @foreach (var m in Blueprints)
                        {
                            <tr>
                                <td class="data" style="width: 1px;">@m.GradeString</td>
                                <td class="wrap">@m.Type</td>
                            </tr>
                        }
                    }

                    @if (SuitWeaponBlueprints != null)
                    {
                        @foreach (var m in SuitWeaponBlueprints)
                        {
                            <tr>
                                <td class="data" style="width: 1px;">@m.Type</td>
                                <td class="wrap">@m.BlueprintName</td>
                            </tr>
                        }
                    }
                    </tbody>
                </MudSimpleTable>
            </td>
        </tr>
    }
    </tbody>
</MudSimpleTable>
