@page "/locations/powers/{CurrentPage:int?}"
@using dashboard_elite.Helpers
@inherits PageBase
@layout PageLayout

@{
    var skipFirst = true;

    List<StationData> powerStations = null;

    if (Data.NearbyPowerStationList?.ContainsKey((Station.PowerTypes)CurrentPage) == true)
    {
        powerStations =  Data.NearbyPowerStationList[(Station.PowerTypes)CurrentPage];
    }

}

<MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Class="PageTable large-font flex-grow-1 flex-shrink-1" Style="min-height: 0;">
    <tbody>
    
    @if (powerStations != null)
    {
        <tr>
            <td class="powerimage"><img class="powerimage" src="/img/powers/@(powerStations?.FirstOrDefault()?.Powers).png"/></td>

            <td style="padding-left: 0; padding-right: 0; vertical-align: top;">

                <MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Elevation="0">
                    <tbody>
                    @foreach (var m in powerStations)
                    {
                        if (!skipFirst)
                        {
                            <tr>
                                <td class="divider" colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="spacer" colspan="2">&nbsp;</td>
                            </tr>

                        }
                        skipFirst = false;

                        if (!string.IsNullOrEmpty(m.SystemName))
                        {
                            <tr>
                                <td class="nowrap">In System</td>
                                <td class="data"><NavLink class="system-link" @onclick="() => Clipboard(m.SystemName)" >@m.SystemName</NavLink></td>
                            </tr>
                        }
                        if (m.Distance > 0)
                        {
                            <tr>
                                <td class="nowrap">Distance</td>
                                <td class="data">@m.Distance.ToString("N0") Ly</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.SystemState) && m.SystemState != "None")
                        {
                            <tr>
                                <td class="nowrap">State</td>
                                <td class="datawrap">@m.SystemState</td>
                            </tr>
                        }
                        if (m.Body != null && !string.IsNullOrEmpty(m.Body.name))
                        {
                            <tr>
                                <td class="nowrap">Body</td>
                                <td class="data">@m.Body.name</td>
                            </tr>
                        }

                        if (!string.IsNullOrEmpty(m.Name))
                        {
                            <tr>
                                <td class="nowrap">Station</td>
                                <td class="data">@m.Name</td>
                            </tr>
                        }
                        if (m.DistanceToArrival > 0)
                        {
                            <tr>
                                <td class="nowrap">Dist. from star</td>
                                <td class="data">@m.DistanceToArrival.ToString("N0") Ls</td>
                            </tr>
                        }

                        if (!string.IsNullOrEmpty(m.Type))
                        {
                            <tr>
                                <td class="nowrap">Type</td>
                                <td class="data">@m.Type</td>
                            </tr>
                        }

                        if (!string.IsNullOrEmpty(m.SystemSecurity))
                        {
                            <tr>
                                <td class="nowrap">Security</td>
                                <td class="data">@m.SystemSecurity</td>
                            </tr>
                        }
                        if (m.SystemPopulation > 0)
                        {
                            <tr>
                                <td class="nowrap">Population</td>
                                <td class="data">@m.SystemPopulation.ToString("N0")</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.Government))
                        {
                            <tr>
                                <td class="nowrap">Government</td>
                                <td class="data">@m.Government</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.Allegiance))
                        {
                            <tr>
                                <td class="nowrap">Allegiance</td>
                                <td class="data">@m.Allegiance</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.Faction))
                        {
                            <tr>
                                <td class="nowrap">Faction</td>
                                <td class="datawrap">@m.Faction</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.Economies))
                        {
                            <tr>
                                <td class="nowrap">Economy</td>
                                <td class="datawrap">@m.Economies</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.PowerplayState))
                        {
                            <tr>
                                <td class="nowrap">Powerplay State</td>
                                <td class="data">@m.PowerplayState</td>
                            </tr>
                        }
                    }

                    </tbody>
                </MudSimpleTable>
            </td>
        </tr>
    }
    </tbody>
</MudSimpleTable>
