@page "/ship/storedships/{CurrentPage:int?}"
@using dashboard_elite.Helpers
@inherits PageBase
@layout PageLayout

@{
    var storedShips = Ships.ShipsList.Where(x => x.Stored)
        .OrderBy(x => x.Distance).ThenBy(x => x.ShipType).ToList();

    var storedShipsCount = storedShips?.Count ?? 0;

    Ships.ShipData storedShip = null;

    if (CurrentPage < storedShipsCount)
    {
        storedShip = storedShips[(int)CurrentPage];
    }

}

<MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Class="PageTable flex-grow-1 flex-shrink-1" Style="min-height: 0;">
    <tbody>

    @if (storedShip == null || storedShipsCount == 0)
    {
        <tr>
            <td class=" center" ><strong>NO STORED SHIPS</strong></td>
        </tr>
    }
    else
    {

        <tr>
            <td class="engineerimage" >
                <img src="/img/ships/@(storedShip.ShipImage)">
            </td>
            <td style="padding-left: 0; padding-right: 0; vertical-align: top; width:33%;">
                <MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Elevation="0">
                    <tbody>

                    @if (!string.IsNullOrEmpty(storedShip.Name))
                    {
                        <tr>
                            <td class="nowrap">Ship Name</td>
                            <td class="data">@storedShip.Name</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.ShipTypeFull))
                    {
                        <tr>
                            <td class="nowrap">Ship Type</td>
                            <td class="data">@storedShip.ShipTypeFull (@storedShip.ShipID)</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.StarSystem))
                    {
                        <tr>
                            <td class="nowrap">In System</td>
                            <td class="data"><NavLink class="system-link" @onclick="() => Clipboard(storedShip.StarSystem)" >@storedShip.StarSystem</NavLink></td>
                        </tr>
                    }
                    @if (storedShip.Distance > 0)
                    {
                        <tr>
                            <td class="nowrap">Distance</td>
                            <td class="data">@storedShip.Distance.ToString("N0") Ly</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.StationName))
                    {
                        <tr>
                            <td class="nowrap">On Station</td>
                            <td class="data">@storedShip.StationName</td>
                        </tr>
                    }
                    @if (storedShip.HullValue + storedShip.ModulesValue > 0)
                    {
                        <tr>
                            <td class="nowrap">Value</td>
                            <td class="data">@((storedShip.HullValue + storedShip.ModulesValue).ToString("N0")) CR</td>
                        </tr>
                    }
                    @if (storedShip.Rebuy > 0)
                    {
                        <tr>
                            <td class="nowrap">Rebuy</td>
                            <td class="data">@storedShip.Rebuy.ToString("N0") CR</td>
                        </tr>
                    }
                    @if (storedShip.Hot)
                    {
                        <tr>
                            <td class="nowrap">Hot</td>
                            <td class="data alarm">YES</td>
                        </tr>
                    }
                    @if (storedShip.HullHealth > 0 && storedShip.HullHealth < 100)
                    {
                        <tr>
                            <td class="nowrap">Hull Health</td>
                            <td class="data alarm">@storedShip.HullHealth.ToString("N0") %</td>
                        </tr>
                    }
                    @if (storedShip.FuelCapacity > 0)
                    {
                        <tr>
                            <td class="nowrap">Fuel Capacity</td>
                            <td class="data">@storedShip.FuelCapacity.ToString("N0") T</td>
                        </tr>
                    }
                    @if (storedShip.CargoCapacity > 0)
                    {
                        <tr>
                            <td class="nowrap">Cargo Capacity</td>
                            <td class="data">@storedShip.CargoCapacity T</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="nowrap">Cargo Capacity</td>
                            <td class="data">NONE</td>
                        </tr>
                    }

                    @if (storedShip.UnladenMass > 0)
                    {
                        <tr>
                            <td class="nowrap">Unladen Mass</td>
                            <td class="data">@storedShip.UnladenMass.ToString("N1") T</td>
                        </tr>
                    }
                    @if (storedShip.MaxJumpRange > 0)
                    {
                        <tr>
                            <td class="nowrap">Max. Jump Range</td>
                            <td class="data">@storedShip.MaxJumpRange.ToString("N1") LY</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.Bulkhead))
                    {
                        <tr>
                            <td class="nowrap">Bulkhead</td>
                            <td class="data">@storedShip.Bulkhead</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.PowerPlant))
                    {
                        <tr>
                            <td class="nowrap">Powerplant</td>
                            <td class="data">@storedShip.PowerPlant</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.Engine))
                    {
                        <tr>
                            <td class="nowrap">Thrusters</td>
                            <td class="data">@storedShip.Engine</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.PowerDistributor))
                    {
                        <tr>
                            <td class="nowrap">Power Distributor</td>
                            <td class="data">@storedShip.PowerDistributor</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.ShieldGenerator))
                    {
                        <tr>
                            <td class="nowrap">Shield Generator</td>
                            <td class="data">@storedShip.ShieldGenerator</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.FrameShiftDrive))
                    {
                        <tr>
                            <td class="nowrap">FSD</td>
                            <td class="data">@storedShip.FrameShiftDrive@storedShip.GuardianFSDBooster</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(storedShip.Cabins))
                    {
                        <tr>
                            <td class="nowrap">Cabins</td>
                            <td class="data">@storedShip.Cabins</td>
                        </tr>
                    }

                    </tbody>
                </MudSimpleTable>
            </td>
            <td style="padding-left: 0; padding-right: 0; vertical-align: top; width:33%;">
                <MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Elevation="0">
                    <tbody>
                        @foreach (var ml in storedShip.ModuleList)
                        {
                            if (ml.Value.Any())
                            {
                                <tr>
                                    <td class="nowrap">@((MarkupString)ml.Key)</td>
                                    <td class="data">@((MarkupString)Module.GetModulePlacement(ml.Key, ml.Value))</td>
                                </tr>
                            }
                        }
                    </tbody>
                </MudSimpleTable>
            </td>

        </tr>
        <tr>
            <td class="center" colspan="3" ><img class="engineerimagetop" src="/img/ships/@(storedShip.ShipImage)" /></td>
        </tr>


    }
    </tbody>
</MudSimpleTable>
